{% extends "base.html" %}
{% block content %}

<h2>Gestión de Cobros</h2>

<div class="card p-3">

<table class="table table-hover align-middle">

<tr>
<th>#</th>
<th>Monto</th>
<th>Vencimiento</th>
<th>Estado</th>
<th>Acción</th>
</tr>

{% for c in cuotas %}

<tr class="
{% if c.estado == 'PAGADO' %}table-success
{% else %}
    {% if c.fecha_vencimiento < today %}table-danger
    {% else %}table-warning{% endif %}
{% endif %}
">

<td>{{ c.numero }}</td>

<td>₲ {{ "{:,.0f}".format(c.monto).replace(",", ".") }}</td>

<td>{{ c.fecha_vencimiento }}</td>

<td>
{% if c.estado == "PAGADO" %}
    <span class="badge bg-success">Pagado</span>

{% else %}
    {% if c.fecha_vencimiento < today %}
        <span class="badge bg-danger">Vencido</span>
    {% else %}
        <span class="badge bg-warning text-dark">Pendiente</span>
    {% endif %}
{% endif %}
</td>

<td>
<form action="/cambiar_estado/{{ c.id }}" method="POST">

    <button class="btn btn-sm 
    {% if c.estado == 'PAGADO' %}
        btn-outline-danger
    {% else %}
        btn-success
    {% endif %}
    ">

        {% if c.estado == "PAGADO" %}
            Deshacer
        {% else %}
            Cobrar
        {% endif %}

    </button>

</form>
</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}
